*{
    padding: 0px;
    margin: 0px;
}

.box{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box div{
    width: 300px;
    background: red;
}

.box div:nth-child(even){
    background: yellow;
}