


p{
    font-family:'Caveat';
    font-size: 200%;
}

h1{
    font-family:'Kdam Thmor Pro';
    font-size: 250%
}

h2{
    font-family:'Lobster' ;
    font-size: 300%
}

h3{
    font-family:'Patrick Hand' ;
    font-size: 350%
}